"*":
  core:
    disabledPackages: [
      "language-sass"
    ]
    telemetryConsent: "limited"
  "css-comb":
    config: "custom"
  docblockr:
    deep_indent: false
    lower_case_primitives: true
  editor:
    fontSize: 15
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
    useHardwareAcceleration: false
  "exception-reporting":
    userId: "aab4d2e3-0c9b-fe88-2d0b-652313d2dcc5"
  linter:
    disabledProviders: [
      "ESLint"
    ]
  "linter-eslint":
    rulesToSilenceWhileTyping: [
      "no-traiing-space"
    ]
  "linter-ui-default":
    panelHeight: 195
    showPanel: true
  metrics:
    userId: "61a490a042f2a47011d0766b89deb011ff86787f"
  "prettier-atom":
    formatOnSaveOptions: {}
    useEslint: true
  "save-session":
    dataSaveFolder: "/Users/maxluster/.dotfiles/atom.symlink/packages/save-session/projects"
    project: "/Users/maxluster/bugsnag/bugsnag-website"
    treeSize: 359
    windowHeight: 1417
    windowWidth: 2556
    windowX: 1440
    windowY: 23
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
