[
  {
    title: "bugsnag-website"
    paths: [
      "/Users/maxluster/projects/bugsnag-development/website"
    ]
  }
  {
    title: "dotfiles"
    paths: [
      "/Users/maxluster/projects/dotfiles"
    ]
  }
  {
    title: "bugsnag.com"
    paths: [
      "/Users/maxluster/projects/bugsnag.com"
    ]
  }
  {
    title: "Dashboard Js"
    paths: [
      "/Users/maxluster/projects/bugsnag-development/dashboard-js"
    ]
  }
  {
    title: "Bugsnag-Blog"
    paths: [
      "/Users/maxluster/projects/blog"
    ]
  }
  {
    title: "docs.bugsnag.com"
    paths: [
      "/Users/maxluster/projects/docs.bugsnag.com"
    ]
  }
]
