'bugsnag-website':
  'title': 'bugsnag-website'
  'paths': [
    '/Users/maxluster/bugsnag/bugsnag-website'
  ]
'dotfiles':
  'title': 'dotfiles'
  'paths': [
    '/Users/maxluster/.dotfiles'
  ]
'maxluster.com':
  'title': 'maxluster.com'
  'paths': [
    '/Users/maxluster/projects/maxluster.com'
  ]
